* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    width: 1200px;
    height: 1874px;
    font: normal 300 14px/21px FiraSans;
}

header {
    width: 100%;
    height: 90px;
    display: inline-block;
    background: #8cc34b;
    overflow: hidden;
    position: relative;
    margin-bottom:80px;
    box-shadow: 0px 5px 20px 0px rgba(204,204,204,1); /* Параметры тени */
}
header img{
    max-width: 62px;
    max-height: 62px;
    -webkit-border-radius: 31px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin: 15px 27px;
    background-color: rgb(255,255,255);
    padding: 2px;
    float: left;
}
div.person{
    width:280px;
    margin: 25px 0 25px;
    color: rgba(114,114,114,1);
    float: left;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    font-weight: 600;
    font-size: 21.26px;
}
li.regular{
    font-weight: 300;
    font-size: 14px;
}
.social{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: right;
    margin-top: 25px;
    margin-right:30px;
}
svg *{
     fill: #e1eed4;
 }

a :hover {
    fill: #ffffff;
}
main{
    width:100%;
    height: 1634px;

}

.title{
    text-align: center;
    margin-bottom: 40px;
}
.title p{
    font-size: 21px;
}
h1{
    font-weight: 600;
    font-size: 42px;
    margin: 0 auto 20px;
}
h2{
    margin: 0;
    font-weight: 600;
}
p{
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}
.cols{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.col-2{
    width:11%;
    margin-right: 20px;
    overflow: hidden;
}
.empty{
    width: 20px;
}
.col-3{
    width: 25%;
    height: 160px;
    overflow: hidden;
}
.wrapper{
    width:100%;
    height:1214px;
    background: url("../img/gplaypattern.png");
    padding-top: 75px;
}
.curses{
    height: 1038px;
    margin: 0 130px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.curse-item{
    width: 300px;
    height: 430px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px 0px rgba(204,204,204,1)
}
/* Не знал как корректно указать отсутсвие мардж-райт у 3-го и 6-го элемента */
.curse-item:nth-child(1),
.curse-item:nth-child(2),
.curse-item:nth-child(4),
.curse-item:nth-child(5){
    margin-right: 20px;
}
.curse-item.JS{
    order:1;
}
.curse-item.JQ{
    order:2;
}
.curse-item.BasEl{
    order:3;
}
.curse-item.AdptSit{
    order:4;
}
.curse-item.AdCSS{
    order:5;
}
.curse-item.AdCSSGal{
    order: 6;
}
.item{
    width:100%;
    height: 170px;
}
.item.JS{
    background: url("../img/LayerJS.png");
}
.item.JQ{
    background: url("../img/LayerJQ.png");
}
.item.BasEl{
     background: url("../img/LayerBaseEl.png");
 }
.item.AdptSit{
    background: url("../img/LayerAdptSit.png");
}
.item.AdCSS{
    background: url("../img/AddCSS.png");
}
.item.AdCSSGal{
    background: url("../img/LayerAdCSSGal.png");
}
div.hover-line{
    background-color: #8cc34b;
    visibility: visible;
}
.description{
    width:100%;
    height: 200px;
}
.checkbox{
    width:100%;
    height: 60px;
    background-color: #f6f7f2;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input{
    width: 20px;
    height: 20px;
    margin: 20px;
    background-color: inherit;
}
.hover-line{
    width:100%;
    height:5px;
}

footer{
    width: 100%;
    height: 70px;
    background-color: #212121;
}
